<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
    <h4 class="card-title text-center mb-4">Register</h4>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && Register(registerForm)">
      <app-text-input [formControl]="$any(registerForm.get('firstName'))" [label]="'First Name'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('lastName'))" [label]="'Last Name'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('userName'))" [label]="'Username'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('email'))" [label]="'Email'"
        [type]="'email'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('phoneNumber'))" [label]="'Phone Number'"
        [type]="'text'"></app-text-input>

      <app-date-picker [formControl]="$any(registerForm.get('dateOfBirth'))" [label]="'Date of Birth'"
        [maxDate]="maxDate"></app-date-picker>

      <app-text-input [formControl]="$any(registerForm.get('password'))" [label]="'Password'"
        [type]="'password'"></app-text-input>

      <!-- <app-text-input [formControl]="$any(registerForm.get('confirmPassword'))" [label]="'Confirm Password'"
        [type]="'password'"></app-text-input> -->

      <app-text-input [formControl]="$any(registerForm.get('weight'))" [label]="'Weight'"
        [type]="'number'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('reasonForJoining'))" [label]="'Reason for Joining'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('role'))" [label]="'Role'" [type]="'text'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.get('address.street'))" [label]="'Street'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('address.city'))" [label]="'City'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('address.country'))" [label]="'Country'"
        [type]="'text'"></app-text-input>
<app-text-input [formControl]="$any(registerForm.get('address.location.x'))" [label]="'X'"
        [type]="'number'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('address.location.y'))" [label]="'Y'"
        [type]="'number'"></app-text-input>

      <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors"> {{ error }} </li>
        </ul>
      </div>
      <div class="d-grid"> <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success mb-2"> <i
            class="fa fa-right-to-bracket me-2"></i> Register </button> </div>
    </form>
  </div>
</div>


<p>{{registerForm.value | json }}</p>
<p>{{registerForm.status | json}}</p>
